@model RapidBootcamp.WebApplication.Models.Customer

<html>
<head>
    <title>Detail Customer</title>
</head>
<body>
    <h1>Detail Customer</h1>
    <p>Customer Id: @Model.CustomerId</p>
    <p>Customer Name : @Model.CustomerName</p>
    <p>Address: @Model.Address</p>
    <p>City : @Model.City</p>
    <p>Email : @Model.Email</p>
    <p>PhoneNumber : @Model.PhoneNumber</p>


</body>
</html>