@model RapidBootcamp.WebApplication.Models.Product

<html>
<head>
    <title>Detail Product</title>
</head>
<body>
    <h1>Detail Product</h1>
    <p>Product Id: @Model.ProductId</p>
    <p>Customer Name : @Model.ProductName</p>
    <p>Email : @Model.Category.CategoryId</p>
    <p>Address: @Model.Stock</p>
    <p>City : @Model.Price</p>

</body>
</html>